@page
@model LaboratorioLopez.Pages.PagoAseguradora.InicioModel

<div class="container row p-0 m-0">
    <div class="col-12 border p-2">
        <table id="DT_loadPagoAseguradora" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Factura #</th>
                    <th>Fecha</th>
                    @*<th>Apellido</th>*@
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{
    <script src="~/js/PagoAseguradora.js"></script>
}